body:not(.home) {
//   h1,h2,h3,a{
//     font-size: 20px;
//   }
  h1{
    font-size: 30px !important;
  }
  h2{
    font-size: 28px !important;
  }
  h3{
    font-size: 25px !important;
  }
  h4,h5,h6{
    font-size: 18px !important;
  }
  .elementor-post__title a{
    font-size: 18px !important;
  }
  h2.woocommerce-loop-product__title{
    font-size: 18px !important;
    color: #000;
  }

}
input:not([type="button"]):not([type="submit"]){
    padding: 10px !important;
    border-radius: 4px !important;
    font-weight: 400;
    letter-spacing: normal !important;
    // min-height: 45px;
    transition: all 0.3s ease;
    &:focus-visible{
        border: 1px solid #f0407b;
    }
}
.login input:not([type="button"]):not([type="submit"]){
    min-height: 45px;
}
[type=submit]{
    letter-spacing: normal !important;
    padding: 10px !important;
    border: none !important;
}
.woocommerce form .form-row textarea{
    padding: 10px !important;
    min-height: 100px !important;
    font-weight: 400;
    line-height: 1;
    letter-spacing: normal !important;
}
.woocommerce form .form-row label{
    font-weight: bold;
}
body .woocommerce-checkout table.shop_table td{
    font-weight: bold;
}
.btn.btn-outline-primary{
    padding: 10px !important;
}
.woocommerce span.onsale.onsale.onsale_badge{
    min-height: 0px;
    line-height: 0px;
    padding: 15px;
    border-radius: 4px;
    background: red;
}
.woocommerce-button.button.woocommerce-form-login__submit{
    background: -webkit-linear-gradient(left,#f0407b,#531f8f) !important;
    color: #fff;
    padding: 15px 10px;
}
.form-row .woocommerce-form-login__rememberme{
    input{
        margin-right: 5px;
    }
    display: flex !important;
    align-items: center;
}
.wc_payment_methods.payment_methods.methods{
    // li{
    //     display: flex;
    //     align-items: center;
    // }

}
.coupon #coupon_code{
    min-width: 100px;
}
#payment input:not([type="button"]):not([type="submit"]){
    min-height: unset !important;
}
.single_add_to_cart_button.button.alt,.wc-proceed-to-checkout a,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
    background: -webkit-linear-gradient(left,#f0407b,#531f8f) !important;
}
.woocommerce-Address-title.title{
    h3{
        font-size: 18px !important;
    } 
}
.dsh-title{
    font-size: 20px !important;
}
.product-name{
    a{
        font-weight: bold;
    }
}
.woocommerce-info {
    /* border-top-color: #1e85be; */
    background: #cff4fc;
    color: #055160;
    border-top: none;
    font-weight: bold;
}
.woocommerce-message {
    /* border-top-color: #8fae1b; */
    color: #19a52c;
    background: #dff3e2;
    border-top: none;
    font-weight: bold;
}
.woocommerce-error {
    color: #842029;
    background: #f8d7da;
    border-top: none;
    font-weight: bold;

}
.wrap-quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity .wrap-quantity input[type="button"]{
    overflow: hidden;
    position: relative;
    background-color: #fff;
    text-shadow: 1px 1px 1px #fff;
    color: #666;
    border: 1px solid #ddd;
    text-transform: none;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    min-height: 40px;
    width: 40px;
    border-radius: 0px;
    padding: 5px;
}
.woocommerce .quantity .qty{
    width: 50px;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 0px !important; 
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media (min-width: 1200px){
    .site-footer .footer-inner, .site-footer:not(.dynamic-footer), .site-header .header-inner, .site-header:not(.dynamic-header), body:not([class*=elementor-page-]) .site-main {
        max-width: 1140px !important;
    }
}
