.kol-login {
  background: #f6f6f6;
  position: relative;
}
.kol-login .woocommerce .account-content-wrapper {
  display: flex;
  gap: 15px;
}
.kol-login .woocommerce .woocommerce-MyAccount-navigation, .kol-login .woocommerce .woocommerce-MyAccount-content {
  margin: 16px auto;
}
.kol-login .woocommerce form {
  max-width: 500px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
}
.kol-login .woocommerce .woocommerce-MyAccount-navigation {
  width: 260px;
}
.kol-login .woocommerce .woocommerce-MyAccount-navigation ul {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.kol-login .woocommerce .woocommerce-MyAccount-navigation ul li.is-active {
  border-left: 2px solid #2579f2;
}
.kol-login .woocommerce .woocommerce-form-login {
  background: #fff;
}
.kol-login .woocommerce .woocommerce-MyAccount-content {
  width: calc(100% - 260px);
}
.kol-login .woocommerce .dashboard-content-wrapper {
  padding-top: 16px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}
.kol-login .woocommerce .cp-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.kol-login .woocommerce .cp-wrapper .dsh-click {
  width: calc(33.3333333333% - 10px);
  border: 2px solid #eee;
  padding: 20px 10px;
  border-radius: 10px;
}
.kol-login .woocommerce .kol-subtitle {
  color: #000;
}
.kol-login .woocommerce-form.woocommerce-form-login.login {
  max-width: 400px;
  margin: 50px auto;
}

.register-form label {
  display: none;
}

.rank__body_child-tab {
  justify-content: center;
  align-items: center;
}
.rank__body_child-tab .rank__tab-item {
  border-radius: 0px !important;
  padding: 4px;
  background: none !important;
  color: #fff !important;
  font-weight: bold;
  font-size: 15px;
}
.rank__body_child-tab .rank__tab-item.active-tab {
  color: var(--wc-orange) !important;
}

.rank__container {
  max-width: 400px;
  margin: 0px auto;
}
.rank__top {
  background-image: url(https://www.nimo.tv/nms/images/top-bg-anchor-gift.70847cc11b69ef5ec5082a42d4aa751b.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  min-height: 80px;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
.rank__tab {
  height: 40px;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rank__tab-item {
  color: #fff;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 16px;
}
.rank__tab-item.active-tab {
  background: #fff;
  color: #000;
}
.rank__tab-item:first-child {
  border-radius: 46px 0 0 46px;
}
.rank__tab-item:last-child {
  border-radius: 0 46px 46px 0;
}
.rank__body {
  background: #232323;
  color: #fff;
  padding: 0px 10px;
  border-radius: 0 0 8px 8px;
  border: 1px solid #323232;
}

.rank_user_avatar {
  margin-right: 10px;
}
.rank_user-icon {
  width: 34px;
  height: 34px;
  text-align: center;
}

#devRegis-btn {
  padding: 10px !important;
  background: -webkit-linear-gradient(left, #f0407b, #531f8f) !important;
  border: none;
}

@media (max-width: 575px) {
  .kol-login {
    background: #fff;
  }
  .kol-login .woocommerce .account-content-wrapper {
    flex-direction: column;
  }
  .kol-login .woocommerce .woocommerce-MyAccount-content {
    width: 100%;
  }
  .kol-login .woocommerce .woocommerce-MyAccount-navigation {
    padding: 0px;
    width: 100%;
    border: none;
  }
  .kol-login .woocommerce .woocommerce-MyAccount-navigation ul {
    display: flex;
    justify-content: space-between;
  }
  .kol-login .woocommerce .woocommerce-MyAccount-navigation ul li {
    padding: 0px 8px;
  }
  .kol-login .woocommerce .woocommerce-MyAccount-navigation ul li.is-active {
    border-top: 2px solid #2579f2;
    border-left: 0px;
  }
  .kol-login .woocommerce .woocommerce-MyAccount-navigation ul .dsh-hidden {
    display: none;
  }
  .kol-login .woocommerce .dashboard-content-wrapper {
    width: unset;
    padding: 0px;
    box-shadow: none;
  }
  .kol-login .woocommerce .kol-subtitle {
    color: #000;
  }
  .kol-login .woocommerce .cp-wrapper {
    padding: 20px;
  }
  .kol-login .woocommerce .cp-wrapper .dsh-click {
    width: 100%;
    border: 2px solid #eee;
    padding: 20px 10px;
    border-radius: 10px;
  }
  form {
    max-width: 500px;
    background: #fff;
    box-shadow: none;
    border-radius: 10px;
    margin: 0px auto;
    padding: 0px;
  }
}
body:not(.home) h1 {
  font-size: 30px !important;
}
body:not(.home) h2 {
  font-size: 28px !important;
}
body:not(.home) h3 {
  font-size: 25px !important;
}
body:not(.home) h4, body:not(.home) h5, body:not(.home) h6 {
  font-size: 18px !important;
}
body:not(.home) .elementor-post__title a {
  font-size: 18px !important;
}
body:not(.home) h2.woocommerce-loop-product__title {
  font-size: 18px !important;
  color: #000;
}

input:not([type=button]):not([type=submit]) {
  padding: 10px !important;
  border-radius: 4px !important;
  font-weight: 400;
  letter-spacing: normal !important;
  transition: all 0.3s ease;
}
input:not([type=button]):not([type=submit]):focus-visible {
  border: 1px solid #f0407b;
}

.login input:not([type=button]):not([type=submit]) {
  min-height: 45px;
}

[type=submit] {
  letter-spacing: normal !important;
  padding: 10px !important;
  border: none !important;
}

.woocommerce form .form-row textarea {
  padding: 10px !important;
  min-height: 100px !important;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal !important;
}

.woocommerce form .form-row label {
  font-weight: bold;
}

body .woocommerce-checkout table.shop_table td {
  font-weight: bold;
}

.btn.btn-outline-primary {
  padding: 10px !important;
}

.woocommerce span.onsale.onsale.onsale_badge {
  min-height: 0px;
  line-height: 0px;
  padding: 15px;
  border-radius: 4px;
  background: red;
}

.woocommerce-button.button.woocommerce-form-login__submit {
  background: -webkit-linear-gradient(left, #f0407b, #531f8f) !important;
  color: #fff;
  padding: 15px 10px;
}

.form-row .woocommerce-form-login__rememberme {
  display: flex !important;
  align-items: center;
}
.form-row .woocommerce-form-login__rememberme input {
  margin-right: 5px;
}

.coupon #coupon_code {
  min-width: 100px;
}

#payment input:not([type=button]):not([type=submit]) {
  min-height: unset !important;
}

.single_add_to_cart_button.button.alt, .wc-proceed-to-checkout a,
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background: -webkit-linear-gradient(left, #f0407b, #531f8f) !important;
}

.woocommerce-Address-title.title h3 {
  font-size: 18px !important;
}

.dsh-title {
  font-size: 20px !important;
}

.product-name a {
  font-weight: bold;
}

.woocommerce-info {
  /* border-top-color: #1e85be; */
  background: #cff4fc;
  color: #055160;
  border-top: none;
  font-weight: bold;
}

.woocommerce-message {
  /* border-top-color: #8fae1b; */
  color: #19a52c;
  background: #dff3e2;
  border-top: none;
  font-weight: bold;
}

.woocommerce-error {
  color: #842029;
  background: #f8d7da;
  border-top: none;
  font-weight: bold;
}

.wrap-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity .wrap-quantity input[type=button] {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  text-shadow: 1px 1px 1px #fff;
  color: #666;
  border: 1px solid #ddd;
  text-transform: none;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  min-height: 40px;
  width: 40px;
  border-radius: 0px;
  padding: 5px;
}

.woocommerce .quantity .qty {
  width: 50px;
  height: 40px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (min-width: 1200px) {
  .site-footer .footer-inner, .site-footer:not(.dynamic-footer), .site-header .header-inner, .site-header:not(.dynamic-header), body:not([class*=elementor-page-]) .site-main {
    max-width: 1140px !important;
  }
}
.kol_alert {
  display: none;
}

.devRegis-item {
  margin-bottom: 10px;
}

.devRegis-alert {
  padding: 4px 0px;
  color: red;
}

.show-password-icon svg {
  width: 20px;
  height: 20px;
}

.register-form {
  max-width: 400px;
  margin: 0px auto;
  background: #fff;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.devRegis-item {
  position: relative;
}
.devRegis-item label {
  color: #000 !important;
  font-weight: bold !important;
}
.devRegis-item input {
  letter-spacing: 0px !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  height: 45px !important;
}

.devRegis-item .show-password-icon {
  position: absolute;
  right: 8px;
  top: 22px;
  transform: translateY(-50%);
}

.woocommerce-MyAccount-navigation {
  border-right: 2px solid #f3f4f8;
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding-left: 0px;
}
.woocommerce-MyAccount-navigation li {
  padding-left: 10px;
}
.woocommerce-MyAccount-navigation li.is-active {
  background: #f3f4f8;
}
.woocommerce-MyAccount-navigation li.is-active a {
  color: #111827;
}
.woocommerce-MyAccount-navigation li a {
  color: #6b7280;
  display: block;
  padding: 15px 10px;
  border-radius: 6px;
  font-weight: 500;
  width: 100%;
}
.woocommerce-MyAccount-navigation li a:hover {
  color: #111827;
}

.ac-avatar .avatar-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

#profile_picture {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.profile-info .profile-common .profile-name {
  font-weight: 600;
  color: #000;
}

.profile-break {
  border-bottom: 1px solid #eee;
  margin: 10px 0px;
}

.woocommerce-account .woocommerce h2 {
  display: none;
}

.kol-admin-report .user-manager {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1333333333);
  border-radius: 4px;
  background: #fff;
}

.woocommerce-MyAccount-navigation li {
  display: flex;
  align-items: center;
}
.woocommerce-MyAccount-navigation svg {
  width: 15px;
  height: 15px;
}

.header-inner .site-navigation-toggle-holder .site-navigation-toggle {
  background: none;
  color: #000;
}
.header-inner .site-navigation-toggle-holder .site-navigation-toggle svg {
  width: 30px;
  height: 30px;
}
.header-inner .site-navigation-dropdown ul.menu li a {
  padding: 10px;
}

.wcu-dash-coupon-area .wcutab button {
  letter-spacing: normal;
  padding: 15px;
  border-radius: 4px;
}

button {
  border: none !important;
}

::-moz-selection {
  color: #fff;
  background-color: #f0407b;
}

::selection {
  color: #fff;
  background-color: #f0407b;
}

.site-header .site-navigation .menu li.current-menu-item a {
  color: #f0407b;
}

@media (max-width: 991px) {
  .woocommerce-account .dashboard-content-wrapper, .woocommerce-account .woocommerce-MyAccount-content, .woocommerce-account .woocommerce-MyAccount-navigation {
    width: 100%;
  }
  .woocommerce-account .woocommerce {
    background: #fff;
  }
  .site-navigation-dropdown ul.menu li a {
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
}
@media (max-width: 575px) {
  .woocommerce {
    background: #fff;
  }
  .site-navigation-dropdown ul.menu li a {
    font-size: 18px;
  }
  .register-form {
    padding: 15px 10px;
  }
  .wcusage-info-box {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=custom.css.map */